.contact_container {
  grid-template-columns: 4fr 8fr;
}

.contact_title {
  font-size: var(--h3-font-size);
  font-weight: var(--weight-600);
  margin-bottom: 1rem;
}

.contact_desc {
  font-size: var(--small-font-size);
  line-height: 1.6;
}

.contact_desc,
.contact_info .info_item {
  margin-bottom: 20px;
}

.contact_info .info_item {
  display: flex;
  align-items: center;
  column-gap: 16px;
}

.contact_info .info_icon {
  color: var(--first-color);
  font-size: var(--h2-font-size);
}

.contact_info .info_title {
  font-size: var(--small-font-size);
}

.contact_info .info_desc {
  font-family: var(--body-font);
  font-size: var(--small-font-size);
  font-weight: var(--weight-500);
}

.contact_form{
  max-width: 600px;
}

.contact_socils {
  display: flex;
  column-gap: 16px;
}

.contact_socils .social_link {
  background-color: var(--container-color);
  color: var(--title-color);
  width: 40px;
  height: 40px;
  line-height: 44px;
  border-radius: 50%;
  text-align: center;
  transition: all 0.3s ease;
}

.contact_socils .social_link:hover {
  background-color: var(--first-color);
  color: var(--text-white);
}

.form_input_group {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 30px;
}

.form_input_div {
  margin-bottom: 30px;
}

.form_control {
  border: 1px solid var(--container-color);
  background-color: var(--container-color);
  color: var(--title-color);
  width: 100%;
  padding: 12px 24px;
  transform: all 0.3s ease;
  font-size: var(--small-font-size);
  border-radius: 24px;
}

.form_control:focus {
  border-color: var(--first-color);
}

.textarea {
  height: 170px;
  resize: none;
}

.contact_button_icon {
  font-size: var(--h3-font-size);
  line-height: 64px;
}



@media screen and (max-width: 768px) {
  .contact_container{
    grid-template-columns: 1fr;
  }

  .form_input_group {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 30px;
  }
  
  .textarea {
    height: 150px;
    resize: none;
  }
}

 